.parentBox {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
    text-align: center;
}

.parentBox #openUploadBox {
    margin-top: 60px;
}

.parentBox #loginFb,
.parentBox #postCreatorModal,
.parentBox #postPostedModal {
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0px;
    display: none;
}

.parentBox #loginFb #closeLoginPopup, 
.parentBox #postCreatorModal .postCreator #postModalClose {
    display: inline-block;
    color: black;
    width: 1em;
    height: 1em;
    float: right;
    padding-right: 3px;
    cursor: pointer;
    font-size: 1.5em;
}

.parentBox #postCreatorModal .postCreator h3 {
	display: inline-block;
}

.parentBox #loginFb.modalOpen,
.parentBox #postCreatorModal.modalOpen,
.parentBox #postPostedModal.modalOpen {
    display: block;
}

.parentBox #loginFb .loginPopup,
.parentBox #postCreatorModal .postCreator,
.parentBox #postPostedModal .postPosted {
    width: 50%;
    min-width: 350px;
    min-height: 465px;
    height: 70vh;
    border: 1px solid;
    margin: auto;
    background-color: white;
    margin-top: 100px;
    border-radius: 5px;
    overflow: auto;
    padding: 15px;
}

.parentBox #postPostedModal .postPosted img {
	width: 80%;
	border-radius: 50%;
	border: 2px solid black;
}

.parentBox #postCreatorModal .postCreator .avatarDiv {
    width: 60%;
    height: 60%;
    margin: 20px auto;
    min-height: 300px;
}

.parentBox #postCreatorModal .postCreator .storyContainer {
	margin: 50px 0px 10px 0px;
}

.parentBox #postCreatorModal .postCreator .storyContainer label {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.parentBox #postCreatorModal .postCreator .storyContainer textarea {
	margin: auto;
    width: 80%;
    display: inline-block;
    vertical-align: middle;
}

.parentBox #loginFb .loginPopup #loginBtn, 
.parentBox #postCreatorModal .postCreator #postToFb {
    margin-top: 40px;
    color: white;
    background-color: blue;
    outline: none;
    box-shadow: none;
    border: 0px;
    padding: 10px 15px;
    border-radius: 2px;
}